/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  margin: 0 15px;
  color: white;
  cursor: pointer;
}

.navbar-menu li:hover {
  color: #ddd;
}

.navbar-button {
  background-color: #B33035;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #59191b;
}
