body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/* Card.css */

.card-container {
    display: flex;
    justify-content: space-around; /* Adjust space between cards */
    flex-wrap: nowrap; /* Ensure cards don't wrap to the next line */
  }
  
  .card-container .card {
    flex: 1; /* Allows cards to grow equally */
    margin: 0 10px; /* Adjust spacing between cards */
  }


  
.Welcome-msg {
    background: rgb(100, 15, 15);
    color: white;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: 200px;
    border: black 10px;
    border-radius: 10px;
}
.woring-msg {
    background: hsl(0, 99%, 42%);
    color: white;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: 200px;
    border: black 10px;
    border-radius: 10px;
}

/* Reset some basic styles */
body, h1, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Navbar styles */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffe100;
  color: rgb(0, 0, 0);
}

.navbar-logo h1 {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-links li {
  position: relative;
}

.navbar-links a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #f39c12;
}

.navbar-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f39c12;
  transition: width 0.3s;
}

.navbar-links a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.Footer {
  background: gray;
  margin: 20px;
  padding: 20px;

}

.Footer:hover {
  cursor: pointer;
}